<form #userForm="ngForm"
 class="md:flex justify-center px-20 bg-white gap-10">
    <div class="h-auto w-3/5" 
    style="background-image: url('register-bg.svg'); background-repeat: no-repeat; background-size: contain; background-color: white; background-position: bottom;">
    </div>

    <div class="bg-white my-10 rounded w-1/4 flex flex-col gap-3 shadow-sm drow-shadow-md ">
        <div class="text-center">
            <div class="flex justify-center">
            <img [src]="profilePicture"  alt="" class="rounded-full object-cover bg-blue-800 h-24 w-24">
        </div>
        <div class="text-2xl my-2 font-medium">
            register
        </div>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full" apperance="fill">
                <input matInput name="email" required #emailModel="ngModel" [(ngModel)]="email" placeholder="Email"  >
                 @if(emailModel.errors?.['required'])
                 {
                    <mat-error>
                        Email is required
                    </mat-error>
                 }
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full" apperance="fill">
                <input matInput name="fullName" required #fullNameModel="ngModel" [(ngModel)]="fullName" placeholder="Full Name"  >
                @if(fullNameModel.errors?.['required'])
                {
                   <mat-error>
                    Full Name is required
                   </mat-error>
                }
            </mat-form-field>
        </div>
        <div class="w-full">
            <mat-form-field class="w-full" apperance="fill">
                <input matInput name="password" required #passwordModle="ngModel" [type]="hide()? 'text':'password'"  [(ngModel)]="password" placeholder="Password"  >
                @if(passwordModle.errors?.['required'])
                {
                    <mat-error>
                        Password is required
                    </mat-error>
                }
                <mat-icon matSuffix (click)="togglePassword($event)"> 
                    {{hide()? 'visibility_off':'visibility'}}
                </mat-icon>
            </mat-form-field>
        </div>
        <input hidden
         (change)="onFileSelected($event)" type="file" #pic placeholder="Profile Image">

        <button  
        (click)="pic.click()"
        type="button"  class="w-full flex item-center gap-2 justify-center mb-5 bg-red-900 text-white rounded-md p-2">
            <mat-icon>add_a_photo</mat-icon>
            <span>Upload Image</span>
        </button>

      <button (click)="register()"  [disabled]="!userForm.valid" type="submit" class="w-full mb-5 bg-blue-900 text-white rounded-md p-2 disabled:opacity-30 "> Register</button>
    </div>
</form>